@import 'tailwindcss';

@theme {
  --color-seasalt: #f9fafb;
  --color-orange-web: #f5a623;
  --color-cocoa-brown: #d3640c;
  --color-buff: #e6af84;
  --color-champagne-pink: #f0d5c0;
  --color-glaucous: #617494;
  --color-paynes-gray: #4c5b74;
  --color-charcoal: #364153;
}

@layer base {
  body {
    @apply bg-seasalt text-paynes-gray;
  }
  label {
    @apply font-bold;
  }
  span,
  label {
    @apply text-cocoa-brown;
  }
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply font-bold text-cocoa-brown;
  }

  a {
    @apply text-buff hover:text-cocoa-brown;
  }

  .btn,
  button {
    @apply bg-buff text-white hover:bg-cocoa-brown;
  }
}
